# Bluetooth executables and scripts
type bluetooth_loader, domain;
type bluetooth_loader_exec, exec_type, file_type;

# Start bdAddrLoader from init
init_daemon_domain(bluetooth_loader)

# Set persist.service.bdroid.* and bluetooth.* property values
set_prop(bluetooth_loader, bluetooth_prop)

allow bluetooth_loader nv_data_file:file { read open };
allow bluetooth_loader nv_data_file:dir search;

allow bluetooth_loader devpts:chr_file { read write };
allow bluetooth_loader init:fifo_file write;

