allow init proc_touchpanel:file getattr;
allow init property_socket:sock_file { create setattr write};
allow init socket_device:sock_file create;
allow init socket_device:sock_file setattr;
