# Grant access to Qualcomm MSM Interface (QMI) audio sockets to mediaserver
qmux_socket(mediaserver)

# Permit mediaserver to create sockets with no specific SELinux class.
# TODO: Investigate the specific type of socket.
binder_call(mediaserver, rild)

allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket { read write };
