allow system_app mpctl_socket:sock_file rw_file_perms;

allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file rw_file_perms;
