allow system_server sysfs_leds:file rw_file_perms;

# Examine battery state
r_dir_file(system_server, sysfs_usb_supply);

# For OEM unlock switch
allow system_server frp_block_device:blk_file rw_file_perms;
