allow thermal-engine self:capability chown;
allow thermal-engine socket_device:sock_file { create setattr };
allow thermal-engine sysfs_battery_supply:dir search;
allow thermal-engine sysfs_battery_supply:file { open read write };
allow thermal-engine power_service:service_manager find;
binder_call(thermal-engine, servicemanager)
binder_call(thermal-engine, system_server)
binder_use(thermal-engine)
