#
# Copyright 2015 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /init.qcom-common.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chown system system /sys/kernel/debug/kgsl/proc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /firmware 0771 system system
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0
	
# Pass required symbols 
export LD_SHIM_LIBS /system/vendor/lib/libqomx_jpegenc.so|libboringssl-compat.so:/system/bin/rild|libOP.so:/system/lib/libril.so|libOP.so

on boot
	export_rc /system/etc/init.cne.rc
on property:sys.boot_completed=1
	write /proc/otg_config/otg_switch 1

on post-fs
    # Touchscreen
    chown system radio /proc/touchpanel/double_tap_enable
    chmod 0660 /proc/touchpanel/double_tap_enable

    chown root system /proc/touchpanel/camera_enable
    chmod 0660 /proc/touchpanel/camera_enable

    chown root system /proc/touchpanel/music_enable
    chmod 0660 /proc/touchpanel/music_enable

    chown root system /proc/touchpanel/flashlight_enable
    chmod 0660 /proc/touchpanel/flashlight_enable

    chown root system /proc/touchpanel/glove_mode_enable
    chmod 0660 /proc/touchpanel/glove_mode_enable

    chown system system /sys/devices/virtual/graphics/fb0/cabc
    chmod 0660 /sys/devices/virtual/graphics/fb0/cabc

    chown system system /sys/devices/virtual/graphics/fb0/sre
    chmod 0660 /sys/devices/virtual/graphics/fb0/sre

    chown system system /sys/devices/virtual/graphics/fb0/color_enhance
    chmod 0660 /sys/devices/virtual/graphics/fb0/color_enhance

    chown system system /sys/devices/virtual/graphics/fb0/rgb
    chmod 0660 /sys/devices/virtual/graphics/fb0/rgb

    chown system system /sys/devices/virtual/graphics/fb0/aco
    chmod 0660 /sys/devices/virtual/graphics/fb0/aco

    chown system system /sys/devices/virtual/graphics/fb0/dyn_pu
    chmod 0660 /sys/devices/virtual/graphics/fb0/dyn_pu

    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/vtg_max
    chown system system /sys/class/timed_output/vibrator/vtg_min
    chmod 0644 /sys/class/timed_output/vibrator/vtg_level
    chmod 0644 /sys/class/timed_output/vibrator/vtg_max
    chmod 0644 /sys/class/timed_output/vibrator/vtg_min

    # LEDs
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/green/blink
    chmod 0644 /sys/class/leds/red/blink
    chmod 0644 /sys/class/leds/blue/blink
    chmod 0644 /sys/class/leds/green/blink

    #Tri state keys
    chown system system /sys/devices/tri_state_key.86/keyCode_top
    chown system system /sys/devices/tri_state_key.86/keyCode_middle
    chown system system /sys/devices/tri_state_key.86/keyCode_bottom
    chmod 0644 /sys/devices/tri_state_key.86/keyCode_top
    chmod 0644 /sys/devices/tri_state_key.86/keyCode_middle
    chmod 0644 /sys/devices/tri_state_key.86/keyCode_bottom

on post-fs-data
    # Torch
    chown system camera /sys/class/leds/torch-light/brightness
    chmod 0660 /sys/class/leds/torch-light/brightness

on fs
    mount_all ./fstab.qcom
    restorecon_recursive /persist

service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    socket cutback stream 660 media radio
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log net_raw diag

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log net_raw diag
    disabled

service ril-init-script /system/bin/sh /init.qcom.ril.sh
    class late_start
    user root
    group root
    oneshot
